{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon-96x96-1.png' %}">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.22/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>

  <style>
    aside .btn-primary {
      background-color: #F79327 !important;
      border-color: #F79327 !important;
      color: #0b0d0e !important;
    }
    aside .btn-primary:hover,
    aside .btn-primary:focus {
      background-color: #e3851f !important;
      border-color: #e3851f !important;
    }
  </style>
</head>
<body class="min-h-screen flex flex-col">
  
  <!-- Make header relative so profile pages can position content inside it -->
  <header class="relative flex items-center p-4 border-b border-base-300">
    {% block header_extra %}{% endblock %}
    <img src="{% static 'Orefox_logo.png' %}" alt="Orefox Logo" class="w-40 h-auto object-contain ml-8">
  </header>

  <div class="flex flex-1 min-h-0">
    <aside class="w-64 bg-base-200 p-4 sticky top-24 self-start">
      {% include "sidebar.html" %}
    </aside>
    <div class="w-px bg-base-300"></div>
    <main class="flex-1 p-6 overflow-auto">
      {% block content %}{% endblock %}
    </main>
  </div>
</body>
</html>