<nav class="space-y-2">
  {% with current=request.resolver_match.url_name %}
  <a href="{% url 'dashboard' %}"
  class="btn w-full justify-start {% if current == 'dashboard' %}btn-primary{% else %}btn-ghost{% endif %}">
  Dashboard
</a>

{% if request.user.role == 'admin' or request.user.role == 'manager' %}
<a href="{% url 'personnel' %}"
class="btn w-full justify-start {% if current == 'personnel' %}btn-primary{% else %}btn-ghost{% endif %}">
Personnel
</a>
{% endif %}
  

<a href="{% url 'my_forms' %}"
class="btn w-full justify-start {% if current == 'my_forms' %}btn-primary{% else %}btn-ghost{% endif %}">
Forms
</a>

<a href="{% url 'projects_home' %}"
class="btn w-full justify-start {% if request.resolver_match.url_name == 'projects' or request.resolver_match.url_name == 'projects_home' or request.resolver_match.url_name == 'project_detail' or request.resolver_match.url_name == 'my_projects' or request.resolver_match.url_name == 'project_invite_form' %}btn-primary{% else %}btn-ghost{% endif %}">
Projects
</a>

{% if request.user.role == 'admin' or request.user.role == 'manager' %}
<a href="{% url 'metrics' %}"
class="btn w-full justify-start {% if request.resolver_match.url_name == 'metrics' %}btn-primary{% else %}btn-ghost{% endif %}">
Metrics
</a>
{% endif %}

<a href="{% url 'accounts:profile' %}"
class="btn w-full justify-start {% if request.resolver_match.url_name == 'profile' %}btn-primary{% else %}btn-ghost{% endif %}">
My Profile
</a>

  {% endwith %}
</nav>